<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>Playground</h1>
    <!-- Printing a list of 5 items -->
    <ul>
        <% for (let i = 0; i < 5; i++) {%>
            <li>
                <%= i+1 %>
            </li>    
        <%}%>
    </ul>
    <% if(true){%>
        <h1>It's true.</h1>
    <%}else{%>
        <p>It's false!</p>    
    <%}%>
</body>
</html>